.about-section {
  padding-top: 5rem;
  background: linear-gradient(
    to bottom,
    $black 0%,
    #{fade-out($black, 0.1)} 75%,
    #{fade-out($black, 0.2)} 100%
  );
  .row .content {
    padding-bottom: 4rem;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
  }
  h4 {
    color: white;
  }
  h1 {
    color: white;
  }
  h1.top-header {
  }

  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: 0.25rem;
        width: 30%;
      }
    }
  }
  .googledocs {
    input {
      text-align: center;
      width: 100%;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
