h2 {
  margin: 2rem 0;
}
.projects-section {
  color: black;
  h2 {
    margin-bottom: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4 {
    color: black;
  }
  p,
  ul,
  li {
    color: rgba(0, 0, 0, 0.8);
  }
  p {
    margin-bottom: 1.5rem;
  }
  padding: 5rem;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: 0.25rem;
        width: 30%;
      }
    }
  }
}
